﻿<div id="scores">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Stark</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#"><span class="glyphicon glyphicon-heart"></span> Dégats reçus</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-fire"></span> Dégats infligés</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Unités restantes</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Combattants restants</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"> 
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Combattants restants</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Unités restantes</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Dégats reçus</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-fire"></span> Dégats infligés</a></li>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Tully</a>
                </div>
            </ul>
        </div>
    </nav> 
</div>
<div id="plateau">
    <div id="unitLeft">
        <span class="unit">&nbsp;</span>
        <span class="unit">&nbsp;</span>
        <span class="unit">&nbsp;</span>
        <span class="unit">&nbsp;</span>
        <span class="unit">&nbsp;</span>
        <span class="unit">&nbsp;</span>
        <span class="unit">&nbsp;</span>
        <span class="unit">&nbsp;</span>
    </div>
    <div id="fightersLeft" style="background-image:url('/Content/Stark.png')">
        <div class="fighter" id="f1">
            <progress value="100" max="100"></progress>
            <img src="http://image.noelshack.com/fichiers/2017/29/5/1500640996-tyrion-nb.png" />
            <span class="name">Nom Prénom</span>
        </div>
        <div class="fighter" id="f2">
            <progress value="100" max="100"></progress>
            <img src="http://image.noelshack.com/fichiers/2017/29/5/1500640996-tyrion-nb.png" />
            <span class="name">Nom Prénom</span>
        </div>
    </div>
    <div id="land"></div>
    <div id="fightersRight"  style="background-image:url('/Content/Tully.png')">

        <div class="fighter" id="f3">
            <progress value="100" max="100"></progress>
            <img src="http://image.noelshack.com/fichiers/2017/29/5/1500640996-tyrion-nb.png" />
            <span class="name">Nom Prénom</span>
        </div>

    </div>
    <div id="unitRight"></div>
</div>