﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BATTLE</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/battle.js")
        @Scripts.Render("~/Scripts/jquery-ui.min.js")
        @Styles.Render("~/Content/Battle.css")

        <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet"> 
</head>
<body>
    <div id="battle">
        @RenderBody()
    </div>
</body>
</html>
