﻿@{
    ViewBag.Title = "Housers";
}
<h1>Bonjour</h1>

<div class="row">
    <div class="col-md-3">

        <div class="list-group" id="houses">
            
        </div>

    </div>
    <div class="col-md-9">
        <div class="row" id="characters">

        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Housers.js")