﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Game Of Throne Tournament!</h1>
    <p class="lead">Choose your house</p>
</div>

<div class="row" id="houses">
    
</div>

<!-- Modal -->
<div class="modal fade" id="ModalEditHouse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit house <span id="HouseNameForm"></span></h5>
            </div>
            <div class="modal-body">
                <form onsubmit="return false">
                    <div class="form-group">
                        <label for="HouseNumberOfUnities">Number of unities</label>
                        <input type="number" class="form-control" id="HouseNumberOfUnities" placeholder="Enter value">
                    </div>
                    <input type="hidden" id="HouseName" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="AddHouser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add houser <span id="HouseNameForm"></span></h5>
            </div>
            <div class="modal-body">
                <form onsubmit="return false">
                    <div class="form-group">
                        <label for="FirstName">First Name</label>
                        <input type="text" class="form-control" id="FirstName" placeholder="Enter value" required>
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control" id="LastName" placeholder="Enter value" required>
                    </div>
                    <div class="form-group">
                        <label for="Bravoury">Bravoury</label>
                        <input type="number" class="form-control" id="Bravoury" placeholder="Enter value" required>
                    </div>
                    <div class="form-group">
                        <label for="Crazyness">Crazyness</label>
                        <input type="number" class="form-control" id="Crazyness" placeholder="Enter value" required>
                    </div>
                    <div class="form-group">
                        <label for="PV">PV max</label>
                        <input type="text" class="form-control" id="PV" placeholder="Enter value" required>
                    </div>
                    <input type="hidden" id="AddHouserHouseName" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>




@Scripts.Render("~/Scripts/index.js")