﻿#battle {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
#scores {
    height: 50px;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background:black;
}
#plateau {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background:grey;
}
#unitLeft, #unitRight {
    background: white;
    position:fixed;
    top:50px;
    width:30%;
    bottom:0;
}
#unitLeft{
    left:0;
}
#unitRight{
    right:0;
}
#fightersLeft, #fightersRight{
    width: 10%;
    background: red;
    top:50px;
    position:fixed;
    bottom:0;
    background-position:top center;
}

#fightersLeft{
    left:30%;
}
#fightersRight{
    right:30%;
}

#land{
    background:green;
    position:fixed;
    top:50px;
    bottom:0;
    left:40%;
    right:40px;
}
#unitLeft,#unitRight,#fightersLeft,#fightersRight{
    overflow-x:hidden;
    overflow-y:auto;
}

.unit{
    height:20px;
    width:20px;
    background: grey;
    display:inline-block;
    margin:4px;
}
.fighter{
    position:relative;
    width:auto;
    padding:8px;
    margin:4px;
    background:rgba(255,255,255,0.7);
    box-shadow:1px 1px 4px grey;
}

.fighter progress{
    width:100%;
    height:8px;
}
.fighter img{
     width:100%;
}
#lifelost {
    color:red;
    font-weight:bold;
    position:absolute;
    top:50%;
    left:50%;
    z-index:4;
    text-shadow:0 0 92px white;
    font-size: 42px;
}

 #fireball{
     opacity:0;
 }
 #fireball img{
     width:100%;
 }
.launched {
    transition: .5s ease-in;
    transform: rotate(5040deg);
    opacity: 1 !important;
}